.sniglet-regular {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sniglet-extrabold {
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Reset basic margins */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Sniglet";
  height: 100%;
  background-color: #dcdde1; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* Prevent user from selecting text like a website */
  user-select: none; 
}


/* The Main Card Container */
.timer-card {
  width: 300px;
  background-color: #5d5d6a; 
  border-radius: 12px;
  padding: 8px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* The Image Area */
.image-display {
  background-color: #4E633E; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

/* NEW: The Timer Text Style */
#time-display {
  background-color: #c8c8d5; /* Match the controls bg */
  color: #4E633E; /* Dark green text */
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: -10px; /* Pull it closer to controls */
}

/* The Control Bar Area */
.controls {
  background-color: #c8c8d5; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  padding-top: 23px;
  padding-bottom: 20px;
  justify-content: space-around; 
  align-items: flex-start;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

/* The Circular Buttons - FIXED ALIGNMENT */
.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #8f9a78; 
  color: #4E633E; 
  cursor: pointer;
  
  /* These lines center the icon perfectly */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  
  transition: transform 0.1s, background-color 0.2s;
}

.circle-btn:hover {
  background-color: #afbb99; 
  transform: scale(1.07);
}

.circle-btn:active {
  transform: scale(0.95);
}

.label {
  font-size: 20px;
  color: #4E633E;
  font-weight: normal;
}

#start-img {
  width: 18px;
  height: auto;
  display: block;
  margin-left: 3px; 
}

#pause-img {
    width: 20px;
    height: auto;
    display: block;
}

#reset-img {
    width: 23px;
    height: auto;
    display: block;
}