* {
  box-sizing: border-box;
}

/* --- fonts --- */
@font-face {
  font-family: "DIGI";
  src: url(fonts/DS-DIGIB.TTF);
} 

.fredoka-con {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
}

/* --- sections --- */
body {
  margin: 0;
  user-select: none;
  color: #dddeff;
  -webkit-app-region: drag; /* no window so on body - draggable to move */
  border-radius: 10px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.0625rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    position: relative; 
    overflow: hidden;   
}

.app::before { /* virtual layer for background */
    content: "";
    background-image: url("images/backgrounds/solidbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .85;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* behind text & buttons */
}

/* --- fun components --- */
.timer-card {
  width: 300px;
  border-radius: 12px;
  padding: 8px; 
}

#time-display {
  padding: 6px;
  color: #dddeff;
  font-family: "DSEG7-Modern-Bold";
  text-align: center;
}

.controls {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around; 
  align-items: flex-start;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.circle-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: #61627e; 
  color: #61627e; 
  cursor: pointer;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  
  transition: transform 0.06s, background-color 0.2s;
}

.circle-btn:hover {
  background-color: #61627e;
  opacity: .6;
}

.circle-btn:active {
  transform: scale(0.95);
}

.label {
  font-family: "Fredoka";
  font-size: 30px;
  }

#start-img {
  width: 24px;
  height: auto;
  display: block;
  margin-left: 3px; 
}

#pause-img {
    width: 24px;
    height: auto;
    display: block;
}

#reset-img {
    width: 30px;
    height: auto;
    display: block;
}

/* --- intentions input block --- */
#task-input {
  display: block;
  background: transparent;
  border: none;
  margin: 10px auto 5px auto;
  border-bottom: 1.8px solid #61627e; 
  -webkit-app-region: no-drag;
  z-index: 5;
  position: relative;
  color: #dddeff; 
  opacity: .8;
  font-family: "Fredoka";
  font-size: 23px;
  text-align: center;
  width: 80%; 
  padding: 4px;
}

/* no underline when clicked */
#task-input:focus {
  outline: none;
  color: #dddeff;
  border-bottom: 1.8px solid #dddeff;
}

/* placeholder text */
#task-input::placeholder {
  color: #dddeff;
  opacity: 0.6;
  font-style: italic;
}

/* focus mode */
#task-input:disabled {
  color: #dddeff; 
  cursor: default;
  font-size: 34px;
  width: 100%;
  border-bottom: none;
}

/* --- image styles --- */
.image-display {
  border-radius: 8px;
  overflow: hidden;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  position: relative;
}

/* how to hold several images */
.image-wrapper {
  position: relative;
  width: 100%;
  height: 220px;      
  background-color: #dddeff; 
  border-radius: 9px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;       
  object-fit: cover;  
  z-index: 10;        
}

