* {
  box-sizing: border-box;
}

/* fonts */

.tektur-cond {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 77.7;
}

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  user-select: none;
  color: #dddeff;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #61627e;
  -webkit-app-region: drag; /* no window so on body - draggable to move */
  border-radius: 1 0px;
  margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.0625rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    position: relative; 
    overflow: hidden;   
}

/* virtual layer for background */
.app::before {
    content: "";
    background-image: url("images/backgrounds/solidbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .85;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* behind text, buttons */
}

img {
  border: 0;
}

.timer-card {
  width: 300px;
  border-radius: 12px;
  padding: 8px; 
}

.image-display {
  border-radius: 8px;
  overflow: hidden;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  position: relative;
}

/* hold several images */
.image-wrapper {
  position: relative;
  width: 100%;
  height: 220px;      
  background-color: #dddeff; 
  border-radius: 9px;
  overflow: hidden;
}

/* 2. The Plant */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 3. The Gradient Overlay */
.overlay-image {
  position: absolute; /* Takes it out of the flow so it sits ON TOP */
  top: 0;
  left: 0;
  width: 100%;        /* Stretch full width */
  height: 100%;       /* Stretch full height */
  object-fit: cover;  /* Ensures it stretches nicely */
  z-index: 10;        /* Puts it above the plant */
}

#time-display {
  color: #dddeff;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #61627e; 
  text-align: center;
}

.controls {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around; 
  align-items: flex-start;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.circle-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: #61627e; 
  color: #61627e; 
  cursor: pointer;
  -webkit-app-region: no-drag;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  
  transition: transform 0.06s, background-color 0.2s;
}

.circle-btn:hover {
  background-color: #61627e;
  opacity: .6;
; 
  transform: scale(1.07);
}

.circle-btn:active {
  
  transform: scale(0.95);
}

.label {
  font-family: "Tektur";
  font-size: 43px;
  }

#start-img {
  width: 24px;
  height: auto;
  display: block;
  margin-left: 3px; 
}

#pause-img {
    width: 24px;
    height: auto;
    display: block;
}

#reset-img {
    width: 30px;
    height: auto;
    display: block;
}